<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="toolbar"></div>
	<div id="add_item">
		<form action="/" method="POST">
			<input type="text" name="todo_new"><button>Add</button>
		</form>
	</div>
	<div id="todo_list"><p>TODO LIST</p>
		<% for( var i = 0; i < task.length; i++){ %>
	    <div>
	      <div id="date"><%= date[i] %></div>
	      <% if(edit_id== id_index[i]){ %>
	      <form action="/todo/<%= id_index[i] %>" method="POST">
          <input type="text" name="todo_update" value="<%= task[i] %>" /><button>OK</button>
      	  </form>
	      <div><button><a href="/">Back</a></button></div>
	      <% }else{ %>
	      <li><input type="checkbox" name="check" value="<%= task[i] %>" /><%= task[i] %></li>
	      <% if(del_task[i]){ %>
	      <div><button><a href="/todo/<%= id_index[i] %>">Recovery</a></button></div>
	      <%}else{%>
	      <div><button><a href="/todo/<%= id_index[i] %>">M</a></button><button><a href="/todo/del/<%= id_index[i] %>">D</a></button></div>
	      <%}%>
	      <% } %>
	    </div>
	    <% } %>
	</div>
  </body>
</html>