<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="toolbar">
		<form action="/">
			<label for="bookdate">Search by Date：</label>
			<input type="date" placeholder="2019-05-12" name="bookdate">
			<input id = "Submit1" type = "submit" value = "submit" />
		</form>
	</div>
	<div id="add_item">
		<form action="/" method="POST">
			<input type="text" name="todo_new"><button>Add</button>
		</form>
	</div>
	<div id="todo_list"><p>TODO LIST</p>
		<% for( var i = 0; i < task.length; i++){ %>
	    <div>
	      <div id="date"><%= date[i] %></div>
	      <li><input type="checkbox" name="check" value="<%= task[i] %>" /><%= task[i] %></li>
	      <% if(del_task[i]){ %>
	      <div><form action="/todo/<%= id_index[i] %>" method="POST"><button>Recovery</button></form></div>
	      <%}else{%>
	      <div><button><a href="/todo/<%= id_index[i] %>">M</a></button><button><a href="/todo/del/<%= id_index[i] %>">D</a></button></div>
	      <%}%>
	    </div>
	    <% } %>
	</div>
  </body>
</html>
